<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/style.css"/>

    </div>
</head>

<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Feed Fish</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <div sec:authorize="isAnonymous()">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}">Home</a></li>
                        <li class="active"><a th:href="@{/control}">Control</a></li>
                        <li class="active"><a th:href="@{/about}">About</a></li>
                        <li class="active"><a th:href="@{/login}">Login</a></li>
                    </ul>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}">Home</a></li>
                        <li class="active"><a th:href="@{/control}">Control</a></li>
                        <li class="active"><a th:href="@{/about}">About</a></li>
                        <li class="active"><a th:href="@{/app-logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

</body>
</html>