<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fish Feed</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="start-template">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div th:class="form-group">
                <h2>Board Control</h2>
                <a th:href="@{/control/addBoard}" class="btn btn-success">
                    <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Add Board
                </a>
            </div>

            <h2>Your Board</h2>
            <!--show all board-->
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Board Name</th><th>Board MAC</th><th>Action</th><th>Setting</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${accountBoards}">
                        <td th:text="${board.boardName}"></td>
                        <td th:text="${board.boardMac}"></td>
                        <td>
                            <a th:href="@{/control}" class="btn btn-primary">
                                <i class="fa fa-arrow-circle-o-left"></i>Feed Now</a>
                        </td>
                        <td>
                            <a th:href="@{/setting}" class="btn btn-primary">
                                <i class="fa fa-arrow-circle-o-left"></i>Setting</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


